.App {
  text-align: center;
  background-color: #F2AA4CFF;
  color: #101820FF;
}


.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-Base {

}