.App {
  text-align: center;
  background-color: #97BC62FF;
  color: #2C5F2D;
}


.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-Base {

}

img {
  height: 50vh;
  width: 50vh;
  border: 2vh solid #2C5F2D;
}